*{
    margin: 0px;
}
.box {
    border: solid 1px;
    width: 300px;
    height: 40px;

}

/* --------- */
.box2 {
    width: 60px;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    height: 29px;
    background-color: orange;
    position: relative;
    left:240px;
    
    
        
}
.box3 {
    border-radius: 15px;
    height: 40px;
    background-color: grey;
    
    

}
